.loginHeading{
    text-align: center;
    margin: 20px 0;
}

.loginHeading h4{
    margin: 15px 0;
    color: rgb(209, 177, 129);
}

.LoginInput input{
    width: 90%;
    margin: 15px;
    padding: 15px;
    border: 2px solid #106e5b;
    border-radius: 10px;
}

.button button {
    width: 90%;
    padding: 10px;
    margin: 15px;
    color: white;
    background-color: #106e5b;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}


